* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

body {
  display: grid;
  grid-template-rows: min-content auto min-content;
}

/* for beautification purpose */
body {
  text-align: center;
}

header,
footer {
  background-color: rgb(167, 227, 227);
  font-size: 1.5rem;
}

header,
footer,
div {
  padding: 10px;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  background-color: #ffd966;
  align-items: center;
  justify-content: center;
}

img {
  flex-grow: 1;
  height: 200px;
  padding: 10px;
}
