/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #B22234
// $textColor = #2c3e50
// $borderColor = #eaecef
// $codeBgColor = #282c34
// $arrowBgColor = #ccc
$badgeTipColor     = #007accde
$badgeWarningColor = #808080
$badgeErrorColor   = lighten($accentColor, 30%)

// user defined
// $readingProgressColor = $badgeErrorColor
// $containerBg = #e6ecf7
// $mark = #fbea62ba
// $codeColor = #e83e8c

// Javascript theme color pallet
$jsYellow     = #f6e039
$jsBlack      = #323330
$tsBlue       = #007acc



