/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */


// latex color
$githubRed = #d73a49
$containerbg = #f0f4f8

// default
$accentColor = #B22234
// $textColor = #2c3e50
// $borderColor = #eaecef
// $codeBgColor = $githubRed
// $arrowBgColor = #ccc
$badgeTipColor     = #007accde
$badgeWarningColor = #808080
$badgeErrorColor   = lighten($accentColor, 30%)

// user defined
// $readingProgressColor = $badgeErrorColor
// $containerBg = #e6ecf7
$codeColor = $githubRed

// Javascript theme color pallet
$jsYellow     = #f6e039
$jsBlack      = #323330
$tsBlue       = #007acc
$mark         = #fbea62ba

// custome configs
$BorderRadius = 0.4rem
$Padding = 0.4rem 1rem



